h1{
    /* Modifique o tamanho do h1 para 65 pixels */
    font-size: 65px;
    /* Modifique a cor do texto do h1 para laranja */
    color: orange;
    /* Modifique o família do h1 para sans-serif */
    font-family: sans-serif;
}

ul{
    /* Modifique a cor de fundo da lista não ordenada */
    background-color: red;
}


body{
    /* Modifique o font-size do body para 16px */
    font-size: 16px;
}

p{
    /* Deixe o parágrafo com o font-weight 600 */
    font-weight: 600;
    /* Coloque o tamanho do parágrafo com o tamanho de 3 vezes o padrão do body */
    font-size: 3em;
    /* Explore as propriedades font-style, line-height, text-align e text-decoration */
    font-style: italic;
    line-height: 5px;
    text-align: center;
    text-decoration: underline;
}


.favourite-colour{
    background-color: royalblue;
}

/* Troque a cor de fundo de cada item da lista para a cor correspondente ao texto */

.color-1{
    background-color: yellow;
}

.color-2{
    background-color: red;
}

.color-3{
    background-color: brown
}
